/* global reset */
html, body, body div, div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, img, s, strong, b, u, i, dl, dt, dd, ol, ul, li, button, article, aside, footer, header, nav, section, input {
margin: 0;
padding: 0;
border: none;
outline: none;
background: none;
list-style: none;
}
html * {
    max-height: 10000000px;
}
    a {
        text-decoration: none;
    }
    button {
        cursor: pointer;
    }
